/* soufiane chbicheb */
/* initial */
:root{
    --MainColor:#ffffff;
    --SecondColor:#2c2c2c;
    --StyleColor:#b59d4f;
}
/* to make the moving between elements smother */
html{
    scroll-behavior: smooth;
}
::selection{
    background-color: var(--StyleColor);
    color: var(--MainColor);
}
body{
    color: var(--MainColor);
    background-color: var(--SecondColor);
}
@font-face {
    font-family: sans-serif;
    src: url(../fonts/Sanseriffic.otf);
}
@font-face{
    font-family: pacifico;
    src: url(../fonts/Pacifico.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* animation */
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
/* scrollBar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--SecondColor);
}
::-webkit-scrollbar-thumb{
    background: var(--StyleColor);
}
h2,h1{
    font-family: pacifico;
    color: var(--StyleColor);
    text-align: center;
}
hr{
    background-color: var(--StyleColor);
    border: 2px solid var(--StyleColor);
    margin: 10px auto;
    width: 50%;
}
/*--------------------------------------------------- header------------------------  */
header{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
select{
    position: absolute;
    right: 10%;
    top: 30%;
}
img[src="imgs/menu.png"]{
    width: 36px;
    height: 36px;
    padding: 3px 10px 3px 3px;
}
#logo{
    width: 200px;
    height: 200px;
    object-fit: contain;
    position: absolute;
    top: -30px;
    z-index: 1;
}
.menu{
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: none;
}   
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked~ ul{
    right: 0;
}
label{
    display: none;
}

input[type="checkbox"]:checked~label {
    position: fixed;
    top: 0;
    right: 0;
}
header ul{
    display: flex;
    justify-content:flex-end;
}
header ul li{
    display: block;
    padding: 20px 10px;
}
header ul li a{
    text-decoration: none;
    color: var(--MainColor);
    font-size: 21px;
    transition: .1s cubic-bezier(.87, -1.38, .03, 1.54)

}
header ul li a:hover{
    color: var(--StyleColor);
}
header ul a li:hover,
header ul a li:active,
header ul a li:focus{
    background-color: var(--MainColor);
}
/* bienvenue */
.bienvenue{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 0 20px 0;
    width: 100%;
    height: 700px;
    background-color: var(--SecondColor);
    margin-top: 100px;
    mask-image: url(../html/other/Ink_effect.gif);
    mask-size:cover;
    mask-position: center;
    mask-repeat: repeat;
    position:relative;
    margin: 0;
}
.bienvenue::before {
    content: "";
    background-image: url(../html/other/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    inset: 0;;
}
.bienvenue div{
    line-height: 40px;
    padding: 50px;
    width: 50%;
    z-index: 1;
    animation: show 1s linear;
}
/* show animation */
@keyframes show {
    0%{   transform: translate(-100%) ;}
    100%{ transform: translate(0);}
}
.bienvenue div h1{
    color: var(--StyleColor);
    font-weight: 800;
    font-size: 50px;
}
.hero{
    width: 35%;
    animation: rotate 50s linear infinite;
    margin-top: 100px;
}
/* the image that rotating  */
@keyframes rotate {
    100%{transform: rotate(360deg)}  
}
/* all the buttons */
button a {
    color: var(--MainColor);
    text-decoration: none;
    padding: 14px;
    font-size: 20px;
}
button {
    padding: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: medium;
    margin-top: 10px;
    background: none;
    border: 2px solid var(--StyleColor);
    transition: .5s;
}
button:hover{
    background-color: var(--StyleColor);
}
/* ----------------------------Apropos--------------------------------- */
.propos{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}
.propos-text{
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 50px;
    width: 45%;
}
.propos div img{
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.propos-images div{
    position: relative;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
}
.propos-images div::after{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    left:-5px ;
    bottom:0px ;
    border-radius: 10px;
    background: conic-gradient(from var(--angle),transparent 20%, var(--MainColor));
    z-index: -1;
    animation: glowing-border 3.5s linear infinite;
}
@keyframes glowing-border {
    from{
        --angle:0deg;
        }
    to{
        --angle:360deg;
    }
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.propos-images{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ---------------------------------------------menu */
.Menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 700px;
    position: relative;
    left: 25%;
}
.Menu a img{
    width: 300px;
    height: 300px;
    border: 3px solid var(--StyleColor);
    object-fit: cover;
    opacity: 0.8;
    transition: .5s;
}
.Menu a img:hover{
    opacity: 1;
}

/* ----------------------------------------------FAQ------------------------------------------------------------- */
.Faq{
    margin-top: 100px;
    background-color: var(--SecondColor);
    height: 488px;
    width: 100%;
    color:var(--MainColor);
    text-align: center;
    padding: 20px;
}
details{
    padding: 6px;
    cursor: pointer;
    border-bottom:1px solid var(--StyleColor);
    text-align: left;
}
details:hover{
    background-color: var(--StyleColor);
}
details summary{
    padding: 6px;
    margin: 2px;
}
details p{
    padding: 20px;
}
/* ---------------------------------footer----------------------------------------- */
footer {
    margin-top: 50px;
    background-color: var(--SecondColor);
    width: auto;
    display: flex;
    justify-content: space-around;
    }
footer div a{
    text-decoration: none;
    margin-top: 6px;
    display: block;
    color: var(--MainColor)
}
/* -----------------------------------------------------------media queries -------------------------------------------------*/
@media (max-width: 576px){
header{
    height: 40px;
    margin: 0;
}
    header ul{
    position: fixed;
    top: 0%;
    right: -100%;
    flex-direction: column;
    width: 50% !important;
    height: 100%;
    text-align: center;
    padding-top:50px ;
    background-color: var(--StyleColor);
    z-index: 2;
    transition: .3s;
} 
header ul li{
    margin: 10px;
}
.menu {
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: block;
}
.bienvenue {
    display: flex;
    flex-direction: column;
    height: 1200px;
    padding-top: 200px;
    }
.hero {
    width: 70%;
    margin: 0;
}
.bienvenue::before{
    background-position: center center;
    height: 1000px;
}
.bienvenue div {
    text-align: center;
    padding: 50px;
    width: 100%;
    margin-top: 0;
}
ul{
    right: -100%;
}
input[type="checkbox"]:checked~ul {
    width: 100%;
    right: 0;
}
#logo{
    width: 100px;
    height: 100px;
    top: 0;
}
.propos{
    margin-top: 100px;
    height: 900px;
    display: flex;
    flex-direction: column-reverse;
}
.propos-text {
    height: 300px;
    text-align: center;
    line-height: 30px;
    width: 80%;
}
.propos-images {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
}
footer {
    text-align: center;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.Galerie{
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%;
}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width:991px){
 .bienvenue div{
    margin-top: 200px;
 }
 .bienvenue{
    height: 700px;
    justify-content: flex-start;
 }   
 .bienvenue div{
    width: 55%;
 }
 .bienvenue,.propos{
    margin: 0;
 }
 .bienvenue::before{
    height:800px;
 }
 .propos{
    margin-top: 50px;
    padding: 20px;
    flex-direction: column-reverse;
    height: 900px;
    margin-bottom: 50px;
 }
 .propos-text{
    width: 100%;
 }
 .propos-images {
    width: 55%;
}
 h1{
    margin-top: 0;
 }
 .Galerie{
    flex-wrap: wrap;
 }
 footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0;
}
footer div{
    margin: 10px;
}
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {
.propos{
    height: 500px;
    margin-top: 0;
    margin-bottom: 100px;
}
.Galerie div img {
    width: 98%;
}
.Galerie div p {
    margin: 0;
}
}
header ul {
    display: flex;
    justify-content: center;
}

 /* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px){
.propos-text{
    animation: none;
}
.propos-images{
    animation: none;
}
} */

 /* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
    ...
} */