@font-face {
    font-family: sans-serif;
    src: url(../fonts/Sanseriffic.otf);
}
* {
    font-family: sans-serif;
}
hr {
    background-color: var(--StyleColor);
    border: 2px solid var(--StyleColor);
    margin: 10px auto !important;
    height: 2px;
    width: 150px !important;
}
:root {
    --MainColor: #ffffff;
    --SecondColor: #2c2c2c;
    --StyleColor: #b59d4f;
}
::selection {
    background-color: var(--StyleColor);
    color: var(--MainColor);
}
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}
body{
    background-color: var(--SecondColor);
    color: var(--MainColor);
}
h1{
    color: var(--StyleColor);
    width: 100px;
    margin: 10px auto;
    font-family: Pacifico;
    font-size: 50px;
}
h2,label{
    color: var(--StyleColor);
}
button{
    background-color: var(--StyleColor) !important;
    color: var(--MainColor) !important;
}
a{
    text-decoration: none;
    color: var(--MainColor);
}